In [1]:
import pandas as pd

In [2]:
df_dimcontent = pd.read_pickle("df_dimcontent.pkl")

In [3]:
df_dimcontent.head()

,SID_Content,ID_GodotObject,ObjectType,IsRessort,RessortName,cp,Channel,ChannelTopRessort,Produkt,Description,Source,SourceCategory,ID_Day,ID_Time,template,RessortType,Status
0,48,1932,Ressort,True,Newsroom,Newsroom,N/A,None,Redaktion,/r1932 Newsroom,N/A,N/A,NaN,NaN,None,Ressort,Online
1,410,2915388,Artikel,False,Abtreibung,dieStandard/Geschlechterpolitik/Abtreibung,dieStandard,Geschlechterpolitik,Redaktion,/2915388 Abbrüche in Deutschland rückgängig,Redaktion,Online only,2762.0,846.0,None,N/A,Online
2,411,2915480,Artikel,False,Spurensuche,dieStandard/diealltag/Spurensuche,dieStandard,Alltag,Redaktion,/2915480 <b>Ausstellung:</b> 100.000 Jahre Sex,Redaktion,Online only,2725.0,763.0,None,N/A,Online
3,412,2915586,Artikel,False,Forschung & Geschlecht,dieStandard/diewissenschaft,dieStandard,(dieStandard),Redaktion,/2915586 Neues Medikament gegen Osteoporose,APA,Agentur,2742.0,1136.0,None,N/A,Online
4,413,2915664,Artikel,False,Identities,dieStandard/diealltag/diekultur/Identities,dieStandard,Alltag,Redaktion,/2915664 Lustvolles Altern,AutorIn,Online only,2721.0,420.0,None,N/A,Online

In [11]:
print(df_dimcontent.ChannelTopRessort.nunique())
print(df_dimcontent.ChannelTopRessort.value_counts()[:50])

139
(Inland)                   89889
Europa                     68444
Unternehmen                66096
Fußball                    65930
Finanzen & Börse           64293
Österreich-Chronik         56460
Innovationen               49890
Wirtschaftspolitik         41823
Nahost                     36828
Wien                       35796
(Wirtschaft)               32891
Netzpolitik                32163
(International)            29806
(Panorama)                 29649
Telekom                    28315
TV                         25841
Mehr Sport                 25343
IT-Business                24276
Nord- und Lateinamerika    23232
Welt-Chronik               23094
Musik                      23042
Werbung                    21562
Film                       21003
Geschlechterpolitik        20991
Asien-Pazifik              20710
Natur                      20413
Literatur                  20350
Bühne                      20339
Umwelt                     19805
TV-Programm                19588
Bildende Kunst             19416
Games                      18044
Kommentare                 17013
(Meinung)                  16704
Medien                     15915
Afrika                     15517
Zeit                       15432
Mensch                     15164
Gesellschaft               14896
Rätsel & Sudoku            14139
(Etat)                     12823
Alltag                     12425
(Wissenschaft)             12207
ORF                        11855
Essen & Trinken            11541
(Lifestyle)                 9906
Welt                        9688
Krankheit                   9409
(AutoMobil)                 9320
(Kultur)                    9307
Name: ChannelTopRessort, dtype: int64

In [13]:
df_dimcontent.ObjectType.value_counts()

Artikel                             1474154
DiaShow                               39893
Other                                 10162
Spiel                                  9109
Ressort                                8466
LiveBericht                            4993
Übersichtsseite                        3152
Raetsel                                2054
Blog                                   1991
Chronologie                            1792
Quiz                                   1372
(unbekannt)                             665
EmailForm                               475
Channel                                  54
Abo                                      28
Rubriken_Immobilien                      23
Unternehmen                              21
Nichtredaktionell                        18
UGC_Registrierung                        15
UGC_Userprofile                          14
Rubriken_Immobilien_Suchergebnis         11
Rubriken_Karriere                        10
Service_Kursinfo                         10
AboService                                8
UGC                                       8
Service_Wetter                            6
Diashow                                   6
Service_Kino                              5
Karriere_Artikel                          4
Rubriken_AutoMobil                        4
Umfrage                                   3
Immobilien_Artikel                        2
Rubriken_Karriere_Suchergebnis            2
Rubriken_Immobilien_Inserat               2
Rubriken_Immobilien_Detailsuche           2
Unternehmen_Formulare                     2
Rubriken_Immobilien_Homepage              1
Service_Suche                             1
Rubriken_AutoMobil_Suchergebnis           1
Sales_Homepage                            1
Rubriken_Karriere_Homepage                1
Service_Archiv                            1
About_Homepage                            1
Abo_Homepage                              1
SiteLink                                  1
Rubriken_AutoMobil_Inserat                1
Service_Preisvergleich                    1
EmbedHTML                                 1
UGC_MeinUserprofil                        1
Rubriken_Karriere_Inserat                 1
Service_Sport                             1
Link                                      1
Seite1                                    1
Rubriken_Immobilien_Immopreise            1
Name: ObjectType, dtype: int64

In [4]:
df_dimcontent.Channel.value_counts()

Wirtschaft               205103
International            194537
Panorama                 179692
Web                      164971
Sport                    132940
Kultur                   119337
Etat                     118362
Wissenschaft              91320
Inland                    89889
Meinung                   48374
Lifestyle                 46061
dieStandard               44484
Gesundheit                26076
Bildung                   22085
Reisen                    16772
Karriere                  13356
Immobilien                10380
AutoMobil                  9320
Diverses                   7904
User                       5109
Familie                    3514
Recht                      2629
Zukunft                    1660
Testchannel2               1093
Sales                       985
IntraOnline                 597
Diskurs                     485
Abo                         417
Archiv                      362
Wissenundgesellschaft       194
Livingroom                  132
none                        108
Seite1                       82
N/A                          79
UserGeneratedContent         38
WebShop                      17
Unternehmen                  16
Podcast                      13
Kursinfo                     10
derStandardDE                 9
Impressum                     8
daStandard                    8
Deutschland                   8
Wetter                        6
Kino                          5
Shop                          4
Preisvergleich                1
Sporttabellen                 1
Newsletter                    1
Name: Channel, dtype: int64

In [5]:
df_dimcontent.RessortName.value_counts()

Österreich                                  42081
IT-Business                                 26444
Unternehmen                                 25011
Netzpolitik                                 21945
TV-Programm: Switchlist                     19523
                                            ...
Chronologie Heer & Zivildienst                  1
Chronologie Foodblog: 365vegan                  1
Chronologie Games-Kolumne: Berufsspieler        1
Chronologie Astronomie                          1
"Toni Erdmann"                                  1
Name: RessortName, Length: 9950, dtype: int64

In [6]:
df_dimcontent.Source.value_counts()

APA                  735827
Zeitung              392320
Redaktion            254968
AutorIn               70058
Aussendung            28798
Admin                 25232
Reuters               17653
N/A                   13674
UGC                   11786
sid                    6605
Unknown                1428
WallStreetJournal       205
Name: Source, dtype: int64

In [7]:
df_dimcontent.ID_Day.max()

7983.0

In [9]:
df_content = pd.read_pickle("df_content.pkl")

In [10]:
df_merged = pd.merge(df_dimcontent, df_content, on = 'ID_GodotObject')

In [17]:
df_merged['same_channel'] = df_merged.ChannelTopRessort_x == df_merged.ChannelTopRessort_y

In [20]:
df_merged.same_channel.value_counts(normalize = True)

True     0.855278
False    0.144722
Name: same_channel, dtype: float64

In [21]:
df_merged['channels'] = df_merged.ChannelTopRessort_x + df_merged.ChannelTopRessort_y

In [26]:
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
df_merged.loc[df_merged.same_channel == False,'channels'].value_counts()[0:100]

Wirtschaftspolitik(Wirtschaft)        40319
TV(Etat)                              25225
Geschlechterpolitik(dieStandard)      20397
TV-Programm(Etat)                     19310
WerbungWerbung & PR                   18453
MedienPrint                           15530
(International)EU                      9908
Gesund bleiben(Gesundheit)             8537
Uni(Bildung)                           7241
Reisen aktuell(Reisen)                 6456
Kommentare der anderen(Meinung)        4844
(dieStandard)Wissenschaft              4731
InternetOnline                         4494
Arbeitswelten(dieStandard)             4131
(International)(Panorama)              3478
Europa Reisen(Reisen)                  3060
WerbungWerbepreise                     2808
Urlaub in Österreich(Reisen)           2413
Therapie & Medikamente(Gesundheit)     2349
(Recht)(Wirtschaft)                    2052
Fernreisen(Reisen)                     1840
DebatteMeinung                         1534
(Gesundheit)Vorsorge                   1221
Familie & Gesundheit(Gesundheit)       1143
Userkommentare(User)                    897
Mitreden(User)                          827
(Zukunft)(Familie)                      577
Userkommentare(Meinung)                 573
(Gesundheit)Service                     534
Reiseblogs(Reisen)                      519
Medien-Blogs(Etat)                      399
Welt-ChronikGesellschaft                291
(Lifestyle)DE                           272
(Diskurs)DE                             232
Quiz: Mitmachen(User)                   229
(International)DE                       205
(Immobilien)Gewerbeimmobilien           199
ZoomZeit                                185
(Sport)DE                               164
Off-Topic(User)                         160
(Panorama)DE                            138
(Kultur)DE                              114
(Web)DE                                  90
(Gesundheit)DE                           88
(Inland)DE                               86
(Etat)DE                                 85
(Immobilien)DE                           60
(Lifestyle)(User)                        58
Zoom(Wissenschaft)                       38
(Karriere)DE                             38
(dieStandard)DE                          34
(Wirtschaft)DE                           31
(N/A)DE                                  24
(Bildung)Userblogs                       19
(Sales)(IntraOnline)                     18
(Diverses)(Wirtschaft)                   16
Forum+(User)                             12
Debatten(Meinung)                        10
(Recht)Userblogs                         10
(Familie)(User)                           7
(Bildung)(Karriere)                       7
ZoomRaum                                  6
(User)(International)                     3
(Wissenschaft)Technik                     2
(Podcast)DE                               2
(Recht)(dieStandard)                      1
Schulferien(Reisen)                       1
Redaktionsblogs(Meinung)                  1
Name: channels, dtype: int64

In [12]:
df_dimcontent.loc[df_dimcontent.ID_GodotObject == 1932879,]

,SID_Content,ID_GodotObject,ObjectType,IsRessort,RessortName,cp,Channel,ChannelTopRessort,Produkt,Description,Source,SourceCategory,ID_Day,ID_Time,template,RessortType,Status
220816,439932,1932879,Artikel,False,Italien,Newsroom/International/Europa/italien,International,Europa,Redaktion,/1932879 Ausgewählte Medien im Internet,Redaktion,Online only,1912.0,1322.0,None,N/A,Online

In [21]:
df_dimcontent.loc[df_dimcontent.RessortName == 'Cartoons',].ObjectType.value_counts()[:20]

DiaShow            207
Artikel              3
Übersichtsseite      2
Ressort              1
Name: ObjectType, dtype: int64

In [3]:
df_content_art = pd.read_pickle("df_content_art.pkl")

In [5]:
df_content_art.shape

(1789210, 3)

In [4]:
df_content_art.head()

,ID_GodotObject,documentXML,url
0,7063,"<document id=""7063"" homeRessortId=""137"" publis...",/7063/Die-Freuden-der-Premiere---Meldung-ist-n...
1,11615,"<document id=""11615"" homeRessortId=""146"" publi...",/11615/WM-Titelentscheidungen-im-letzten-Saiso...
2,12473,"<document id=""12473"" homeRessortId=""375"" publi...",/12473/Yahoo-Inc-kooperiert-mit-chinesischem-U...
3,12479,"<document id=""12479"" homeRessortId=""406"" publi...",/12479/Minispion-in-Netscapes-Navigator-eingebaut
4,13114,"<document id=""13114"" homeRessortId=""249"" publi...",/13114/Forscher-arbeiten-an-universeller-Inter...